<div class="row">
  <div class="col col-md-4">
    <img height="240px" class="ml-4 rounded-circle" src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
  </div>
  <div class="col ml-4">
    <h3>John Doe</h3>
    <p>Rcu, vitae iaculis eros tristique quis. Donec efficitur nulla eu diam scelerisque mollis. Donec fermentum neque vitae mauris dictum, sodales luctus nisl aliquet. Cras tincidunt magna lacus, quis pretium purus venenatis vel. Proin rutrum ac diam eu malesuada. Duis finibus venenatis odio, a porta nisi placerat vitae. Ut porttitor au</p>
  </div>
</div>
