<div class="row">
  <div class="col-md-4 offset-md-4">
    <h2>Login</h2>
    <hr>

    <form #loginForm="ngForm" (ngSubmit)="loginForm.valid && login()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" [ngClass]="{ 'is-invalid': username.touched && username.invalid }"
          name="username" [(ngModel)]="model.username" id="username" required #username="ngModel">
        <span class="invalid-feedback">Username can't be blank.</span>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" [ngClass]="{ 'is-invalid': password.touched && password.invalid }"
          name="password" [(ngModel)]="model.password" id="password" required #password="ngModel">
        <span class="invalid-feedback">Password can't be blank.</span>
      </div>

      <button class="btn btn-primary btn-lg btn-block" [disabled]="loginForm.invalid">Login</button>
      <button type="button" class="btn btn-link btn-lg btn-block" routerLink="/register">Register</button>
    </form>
  </div>
</div>
