<hr>

<div *ngIf="posts.length === 0; else postList" class="alert alert-info">No Posts to Display.</div>

<ng-template #postList>
  <div class="row">
    <div *ngFor="let post of posts" class="col col-md-4 mt-2">
      <app-post-item [post]="post"></app-post-item>
    </div>
  </div>
</ng-template>
